* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-bg: rgba(44, 62, 80, 1);
  --secondary-bg: rgba(0, 0, 0, 0.9);
  --box-shadow-color-1: gold;
  --box-shadow-color-2: rgba(149, 165, 166, 0.1);
  --box-shadow-color-3: #ecf0f1;
  --phone-width: 350px;
  --phone-height: 700px;
}

body {
  background-color: var(--secondary-bg);
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: var(--phone-width);
  height: var(--phone-height);
  background-color: transparent;
  border-radius: 30px;

  box-shadow: 3px 10px 0.4em var(--box-shadow-color-2),
    -1px -2px var(--box-shadow-color-1);
}

section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-bg);
  border-radius: 10px;
  transform: scaleX(0.9) scaleY(0.8);
}

.top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  margin-top: -0.8rem;
  height: 6px;
  width: 6px;
  background-color: var(--primary-bg);
  border-radius: 50%;
}

.top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  margin-top: 1.8rem;
  height: 7px;
  width: 50px;
  background-color: var(--primary-bg);
}

.top::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  translate: -3rem;
  height: 8px;
  width: 8px;
  background-color: var(--primary-bg);
  border-radius: 50% 50%;
}

.bottom::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 95%;
  width: 95%;
  background-color: white;
  border-radius: 50%;
}

.bottom {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%);
  height: 3.2rem;
  width: 3.2rem;
  background: conic-gradient(
    white,
    rgb(34, 34, 34),
    var(--box-shadow-color-1),
    white
  );

  border-radius: 50%;
}

.bottom::after {
  content: "";
  position: absolute;
  background-color: var(--secondary-bg);
  height: 95%;
  width: 95%;
  border-radius: 50%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
